In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'1.3.5'

In [3]:
pd.Series

pandas.core.series.Series

In [4]:
pd.DataFrame

pandas.core.frame.DataFrame

__Series__

In [5]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])

In [6]:
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [7]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [10]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
              index=['a', 'b', 'c', 'd'])

In [11]:
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [13]:
data['a'] # wyciągnij element o indeksie 'a'

0.25

In [14]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                index=[2, 3, 5, 7])

In [15]:
data

2    0.25
3    0.50
5    0.75
7    1.00
dtype: float64

In [16]:
population_dict = {
    'California': 38_332_521,
    'Texas': 26_448_193,
    'New York': 19_651_127,
    'Florida': 19_552_860
}

In [18]:
population = pd.Series(population_dict)

In [19]:
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
dtype: int64

In [20]:
population['California']

38332521

In [21]:
population['California':'New York']

California    38332521
Texas         26448193
New York      19651127
dtype: int64

__Inne sposoby tworzenia obiektówtypu Series__

In [23]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [24]:
pd.Series(5, index=[1, 2, 3])

1    5
2    5
3    5
dtype: int64

In [25]:
pd.Series({2:'a', 1: 'b', 3: 'c'})

2    a
1    b
3    c
dtype: object

In [26]:
pd.Series(np.arange(10))

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

__DataFrame__

In [37]:
area_dict = {
    'California': 423967,
    'Texas': 695662,
    'New York': 141297,
    'Florida': 170312
}

In [38]:
area = pd.Series(area_dict)

In [39]:
area

California    423967
Texas         695662
New York      141297
Florida       170312
dtype: int64

In [40]:
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
dtype: int64

In [42]:
states_df = pd.DataFrame({
    'population': population,
    'area': area
})

In [43]:
states_df

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312

In [44]:
states_df.index

Index(['California', 'Texas', 'New York', 'Florida'], dtype='object')

In [45]:
states_df.columns

Index(['population', 'area'], dtype='object')

In [47]:
states_df['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Name: area, dtype: int64

In [49]:
ind = pd.Index([2, 3, 5, 7, 11])

In [50]:
ind[1] = 0

TypeError: Index does not support mutable operations

In [51]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])

In [52]:
data

1    a
3    b
5    c
dtype: object

In [53]:
data[1]

'a'

In [55]:
data[1:3] #Zadziałało to tak jak index numpy, jeżeli przekazujemy liczby, to Pandas będzie korzystać z indeksu numpy

3    b
5    c
dtype: object

In [56]:
# loc
# iloc

In [57]:
data.loc[1]

'a'

In [59]:
data.loc[1:3]

1    a
3    b
dtype: object

In [60]:
data.iloc[1]

'b'

In [61]:
data.iloc[1:3]

3    b
5    c
dtype: object

__Wybieranie danych z DataFrame__

In [62]:
states_df

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312

In [63]:
states_df['population']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Name: population, dtype: int64

In [65]:
states_df['density'] = (states_df['population']/states_df['area']).round(2)

In [73]:
states_df['density'].round(2)

California     90.41
Texas          38.02
New York      139.08
Florida       114.81
Name: density, dtype: float64

In [67]:
states_df[['population', 'density']]

            population     density
California    38332521   90.413926
Texas         26448193   38.018740
New York      19651127  139.076746
Florida       19552860  114.806121

In [68]:
states_df['population'] # obiekt typu series

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Name: population, dtype: int64

In [69]:
states_df[['population']] #DataFrame

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860

In [70]:
states_df.iloc[:3, :2]

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297

In [71]:
states_df.loc[:'Texas', :'area']

            population    area
California    38332521  423967
Texas         26448193  695662